.not-found-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #1b1b1b;
    color: #e0e0d1;
    text-align: center;
   
}

    .not-found-container h1 {
        font-size: 2.5rem;
        margin-bottom: 1rem;
    }

    .not-found-container p {
        font-size: 1.2rem;
        margin-bottom: 2rem;
    }

.go-home-button {
    display: inline-block;
    background-color: #7a5c3c;
    color: #e0e0d1;
    padding: 0.75rem 1.5rem;
    border-radius: 6px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

    .go-home-button:hover {
        background-color: #4a5c4d;
    }

