.search-bar {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    width: 100%;
    margin-bottom: 1rem;
    justify-content: center;
}

    .search-bar select {
        width: calc(15% - 1.7rem);
    }

    .search-bar input {
        width: calc(70% - 1.7rem);
    }

    .search-bar button {
        width: calc(15% - 1.7rem);
    }

    /* common styles for inputs/selects */
    .search-bar select,
    .search-bar input {
        padding: 0.6rem;
        font-size: 1rem;
        border-radius: 0.5rem;
        border: 0.1rem solid #ccc;
    }

/* Center filters */
.filters {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

    .filters .btn-primary {
        flex: 0 0 auto;
    }

.index-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


.page-selection {
    display: flex;
    justify-content: center;
}

.page-input {
    width: 2rem;
    text-align: center;
    margin-inline: 0.5rem;
}
/* Mobile adjustments */
@media (max-width: 37.5rem) { /* 600px equivalent */
    .search-bar {
        flex-direction: column;
    }

        .search-bar select,
        .search-bar input,
        .search-bar button {
            width: 100%;
        }
    .page-input {
        width: calc(100%/3);
    }
    .page-arrow {
        width: calc(100%/3);
    }
}
