@page "/"

@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.AspNetCore.Components.Routing
@using Microsoft.AspNetCore.Components.Web

@using premake.repositories.registry
@using premake.repositories.registry.objects
@using premake.repositories.user
@using premake.repositories.user.objects
@using premake_registry.src.frontend.Components.User.UserRepo.RepoList
@using premake_registry.src.frontend.Components.common.LoadingContainer

@inject NavigationManager NavManager;

<h3>Repositories</h3>
<div class="index-container">
    <div class="search-bar">
        <select @bind="selectedFilter">
            <option value="UserName">User Name</option>
            <option value="RepoName">Repository Name</option>
            <option value="Tag">Tag</option>
            <option value="Recent">Most Recent</option>
        </select>

        <input type="text" @bind="searchTerm" placeholder="Enter search value..." @onkeydown="Search" />
        <button class="btn btn-primary" @onclick="OnSearch">Search</button>
    </div>

    <div class="filters">
        @if (!showLibs)
        {
            <button class="btn btn-primary" @onclick="() => ShowLibs(true)">Show Libraries</button>
        }
        else
        {
            <button class="btn btn-primary" @onclick="() => ShowLibs(false)">Show Modules</button>
        }
    </div>

    <LoadingContainer Tasks="loadTasks">
        <RepoList Repos="repos.ToArray()" OnAdd="OnAddSelected" IsInfo="true" />
    </LoadingContainer>

    <div class="page-selection">
        <button class="page-arrow btn-primary"
                @onclick="GoPrevious"
                disabled="@IsFirstPage">
            ‹
        </button>

        <input type="number"
               class="page-input"
               @bind="pageNumber"
               @bind:after="OnPageChanged"
               min="1" />

        <button class="page-arrow btn-primary"
                @onclick="GoNext">
            ›
        </button>
    </div>
</div>

@code {
    #nullable enable
    private Task[] loadTasks = Array.Empty<Task>();
    private List<UserRepo>? repos;
    private bool showLibs = true;
    private string searchTerm = string.Empty;
    private string selectedFilter = "Recent";
    private int pageNumber = 1;
    [Inject] private UserRepositories UserRepos { get; set; } = default!;
    [Inject] private GitRepoRepository GitRepos { get; set; } = default!;

    private bool IsFirstPage
    {
        get => pageNumber <= 1;  
    }

    private async Task OnPageChanged()
    {
        if (pageNumber < 1)
        {
            pageNumber++;
        }

        await ShowLibs(showLibs);
    }

    private async Task GoPrevious()
    {
        if (pageNumber > 1)
        {
            pageNumber--;
            await ShowLibs(showLibs);
        }
    }

    private async Task GoNext()
    {
        pageNumber++;
        await ShowLibs(showLibs);
    }

    protected override void OnInitialized()
    {
        var load = LoadReposAsync();
        loadTasks = new[] { load };
    }

    private async Task LoadReposAsync()
    {
        var all = await UserRepos.GetMostRecentAsync(pageNumber - 1);
        repos = (await GitRepos.GetUserReposAsyncNonNull(all.Where(r => r.isLib == showLibs).ToArray())).ToList();
    }

    private async Task ShowLibs(bool libs)
    {
        int maxPages = await UserRepos.GetPageCount();
        if (pageNumber-1 > maxPages)
        {
            pageNumber = maxPages + 1;
        }
        showLibs = libs;
        var load = LoadReposAsync();
        loadTasks = new[] { load };
    }

    private async Task OnSearch()
    {
        Task<IReadOnlyList<RegistryRepo>> queryTask;
        switch (selectedFilter)
        {
            case "UserName":
                queryTask = UserRepos.FindByUserNameAsync(searchTerm, pageNumber - 1);
                break;
            case "RepoName":
                queryTask = UserRepos.FindByRepoNameAsync(searchTerm, pageNumber - 1);
                break;
            case "Tag":
                queryTask = UserRepos.FindByTagAsync(searchTerm, pageNumber - 1);
                break;
            case "Recent":
            default:
                queryTask = UserRepos.GetMostRecentAsync(pageNumber - 1);
                break;
        }

        var results = await queryTask;
        repos = (await GitRepos.GetUserReposAsyncNonNull(results.Where(r => r.isLib == showLibs).ToArray())).ToList();
    }

    private void OnAddSelected(UserRepo repo)
    {
        NavManager.NavigateTo($"/info/{repo.full_name}");
    }
    private async Task Search(KeyboardEventArgs args)
    {
        if(args.Key == "Enter")
        {
            var load = OnSearch();
            loadTasks = new[] { load };
        }
    }
}
