.info-container {
    display: flex;
    flex-direction: row-reverse;
    width:100%;
    height: 100%;
}
.install-command:hover {
    color: var(--color-accent);
    cursor: pointer;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* Add dots under the hoverable text */
    cursor: pointer;
}

/* Tooltip text */
.tooltiptext {
    visibility: hidden; /* Hidden by default */
    width: 130px;
    background-color: black;
    color: #ffffff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1; /* Ensure tooltip is displayed above content */
}

.repo-header {
    width: 30%;
    margin-inline: 2rem auto;
    padding: 1rem;
    border: 0.4rem solid #ccc;
    border-radius: 16px
}
.readme {
    padding: 1rem;
    width: calc(70% - 2rem);
    border: 0.2rem solid #ccc;
    border-radius: 8px
}
/* Install block and links */
.install-block,
.repo-links,
.remove-section,
.repo-meta {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 1rem;
    border-top: 0.1rem solid #ccc;
    margin-top: 0.2rem;
}
    .install-block:hover,
    .repo-links:hover,
    .repo-meta:hover {
        color: var(--color-accent);
    }
/* Tags */
.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}
.unregister {
    margin-top: 1rem;
}

.modal-backdrop {
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal {
    background: var(--color-github-dark);
    padding: 1.5rem;
    border-radius: 1rem;
    font-size: clamp(1rem, 2.5vw, 1.25rem);
    max-width: 30rem;
    width: 90%;
    text-align: center;
}

.modal-actions {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
}

    .modal-actions button {
        padding-block: 0.5rem;
        padding-inline: 1rem;
        font-size: 1em;
        border-radius: 1rem;
        cursor: pointer;
    }

/* Mobile adjustments */
@media (max-width: 600px) { /* 600px equivalent */

    .repo-header {
        margin: 0.5rem;
        width: calc(80% - 1.3rem)
    }

    .install-block,
    .repo-links,
    .remove-section,
    .repo-meta {
        flex-direction: column;
        align-items: stretch;
    }
        .install-block:hover,
        .repo-links:hover,
        .repo-meta:hover {
            color: var(--color-accent);
        }

        .install-block code {
            display: block;
            margin-top: 0.5rem;
            word-break: break-word;
        }

        .tags {
            justify-content: flex-start;
        }

    
    .info-container {
            flex-direction: column;
            width: 100%;
            align-items: center;
            display: flex;
        }

        .readme {
            margin: 0.5rem;
            font-size: 0.9rem;
            line-height: 1.4;
            width: calc(80% - 1.3rem)
        }
    }
