@page "/user"

@using Microsoft.JSInterop
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.AspNetCore.Components.Routing
@using Microsoft.AspNetCore.Components.Web

@using premake.User
@using premake.repositories.registry
@using premake.repositories.user
@using premake.repositories.user.objects
@using premake_registry.src.frontend.Components.User.UserRepo
@using premake_registry.src.frontend.Components.User.UserRepo.RepoList
@using premake_registry.src.frontend.Components.common.LoadingContainer
@inject CurrentUser user
@inject NavigationManager NavManager
@inject GitRepoRepository RepoRepo

<div class="user-actions">
    <button @onclick="OnRegisterRepo" class="btn-primary">Register Repository</button>
    <button @onclick="OnLogout" class="btn-primary">Logout</button>
</div>
<LoadingContainer Tasks="loadTasks">
    <RepoList Repos="repos.ToArray()" OnAdd="OnOpenSelected" IsInfo="true" />
</LoadingContainer>

@code {
    #nullable enable
    private Task[] loadTasks = Array.Empty<Task>();
    private List<UserRepo>? repos;
    [Inject] private UserRepositories UserRepos { get; set; } = default!;
    [Inject] private GitRepoRepository GitRepos { get; set; } = default!;
    protected override void OnParametersSet()
    {
        if (!user.IsLoggedIn())
        {
            NavManager.NavigateTo("/", true);
        } else {
            var load = LoadReposAsync();
            loadTasks = new[] { load };
        }

    }
    private async Task LoadReposAsync()
    {
        var all = await GitRepos.GetRegisteredReposAsync();
        repos = (await GitRepos.GetUserReposAsyncNonNull(all.ToArray())).ToList();
    }
    private void OnLogout()
    {
        
        NavManager.NavigateTo("/Auth/logout", true);
    }

    private void OnRegisterRepo()
    {
        NavManager.NavigateTo("/user/new_repo");
    }
    private void OnOpenSelected(UserRepo repo)
    {
        // handle add action here
    }
}
