.tags-container {
    margin-bottom: 1rem;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center; /* center horizontally */
    gap: 0.5rem;
    width: 100%;
    border: var(--color-button);
    border-style: solid;
    border-radius: 4px;
}

    .tags-container label {
        font-weight: 600;
        margin-bottom: 0.5rem;
    }

.tag-item {
    display: flex;
    align-items: center;
    justify-content:space-around;
    width: 100%;
    max-width: 40rem; /* constrain width */
    margin-bottom: 0.5rem;
}

.tag-number {
    margin-right: 0.5rem;
    font-weight: bold;
    border-style: solid;
    border-radius: 50%;
    border-color: var(--color-button);
    border-width: 2px;
    text-align:center;
    padding: 0.5rem;
}
.add-btn {
    width: 70%;
    margin-bottom: 0.5rem;
}
::deep .tag-input {
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 0.1rem solid #ccc;
    font-size: 1rem;
    width: 80%;
}
.form-group {
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
}
.toggle-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    margin-top: 0.5rem;
}
.type-button {
    margin-left: 1rem;
    width: 15%
}
/* Mobile adjustments */
@media (max-width: 600px) { /* 600px equivalent */
    .tag-item {
        align-items: stretch;
    }

    .tag-number {
        border: none !important;
    }

    ::deep .tag-input {
        width: 100%;
    }

    .remove-btn {
        width: 10%;
        margin-inline: 1rem;
    }

    .add-btn {
        width: 20%;
        margin-top: 0.5rem;
    }

    .toggle-group {
        flex-direction: column;
        align-items: stretch;
    }
}
