<div class="loading-container">
    @if (!_isFinished)
    {
        <div class="spinner"></div>
        <p>Loading...</p>
    }
    else
    {
        @ChildContent
    }
</div>

@code {
    #nullable enable
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public Task[] Tasks { get; set; } = Array.Empty<Task>();

    private bool _isFinished;

    protected override async Task OnParametersSetAsync()
    {
        if (Tasks != null && Tasks.Length > 0)
        {
            _isFinished = false;
            await Task.WhenAll(Tasks);
            _isFinished = true;
            StateHasChanged();
        }
        else
        {
            _isFinished = true;
        }
    }
}
