@using premake.repositories.user.objects
@using premake_registry.src.frontend.Components.User.UserRepo

<ul class="repo-list">
    @if (Repos is not null && Repos.Length > 0)
    {
        @foreach (UserRepo repo in Repos)
        {
            <Repo repo="repo" OnAdd="OnAdd" IsInfo="IsInfo" />
        }
    }
    else
    {
        <li>No repositories found.</li>
    }
</ul>

@code {
    #nullable enable
    [Parameter] public UserRepo[]? Repos { get; set; }

    [Parameter] public EventCallback<UserRepo> OnAdd { get; set; }
    [Parameter] public bool IsInfo { get; set; } = false;
}
